
.idea/misc.xml

.idea/Ruffr.iml

.idea/vcs.xml

ruffr/ruffr/__pycache__/settings.cpython-36.pyc

ruffr/ruffr/__pycache__/__init__.cpython-36.pyc

*.pyc

ruffr/ruffr/__init__.py

.idea/workspace.xml

.idea/modules.xml

ruffr/ruffr/__init__.py
